@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --nature-green: #4CAF50;
  --sky-blue: #4FC3F7;
  --light-brown: #A1887F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-nature-green: var(--nature-green);
  --color-sky-blue: var(--sky-blue);
  --color-light-brown: var(--light-brown);
  --font-sans: var(--font-prompt);
  --font-mono: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
